
.inputs {
  width: 30px;
}
.title {
    text-decoration: underline;
    font-size: 80px;
    margin-bottom: 20px;
}

.results {
    text-align: center;
}
h2 {
    background-color: lightblue;
}
h3 {
    font-size: 55px;
    margin: 0;
}
.equals {
    font-size: 60px;
    margin: 0;
    text-align: center;
}